body {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.87;
    color: #737373;
}
.container {
    width: 1210px;
    margin: 0 auto;
    padding: 0px 15px;
}
.button {
    background-color: #0A8BFE;
    border-radius: 4px;
    border: 1px solid #0A8BFE;
}