.kickstart__container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.kickstart__body {
    text-align: center;
}
.kickstart__title {
    font-size: 41px;
    line-height: 50px;
    color: $title-color;
}
.kickstart__subtitle {
}
.kickstart__list {
}
.kickstart__item {
}
.kickstart__text {
}