.proud {
    background-color: $bg-color;
}
.proud__container {
    padding-top: 150px;
    padding-bottom: 480px;
}
.proud__body {
    color: $color-white;
}
.proud__title {
    margin-bottom: 80px;

    font-size: 41px;
    line-height: 1.21;
    text-align: center;
}
.proud__list {
    display: flex;
    justify-content: center;
    column-gap: 140px;
}
.proud__item {
    max-width: 170px;
}
.proud__number {
    margin-bottom: 15px;

    font-size: 41px;
    line-height: 1.21;
}
.proud__text {
    font-size: 13px;
    line-height: 2.3;
}