.regional__container {
    padding-top: 60px;
    padding-bottom: 35px;
}
.regional__title {
    margin-bottom: 30px;

    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: $title-color;
}
.regional__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}
.regional__item {
    display: flex;
    flex-direction: column;
    width: 365px;
}
.regional__item-title {
    font-size: 15px;
    line-height: 2;
}
.regional__item-text {
    margin-bottom: 18px;

    font-size: 19px;
    line-height: 1.47;
    color: $title-color;
}
.regional__item-box {
    margin-left: auto;
}
.regional__item-icon {
    width: 110px;
    height: 100px;
}